.users
  app-filters([filters]="filters", (filterChangeEvent)="onFilterChange($event)")
  ng-container(*ngIf="users$ | async as usersFromContainer; else loading")
    .users__container([@listStagger]="usersFromContainer.length")
      div(*ngFor="let user of usersFromContainer; trackBy: trackUser")
        app-user([user]="user")
  ng-template(#loading)
    .loader-container
      .loader
