html, body
  height 100%
  margin 0

  font-family Roboto,"Helvetica Neue",sans-serif !important
  font-size 14px
  font-weight 400
  color #7b7e8a
  background #F7F7F7

button, input
  font-family inherit
  font-size inherit
  line-weight inherit
  color inherit
  background-color inherit
