form
  input
    &.form-control
      display block
      width 100%
      padding .375rem .75rem
      color #1A051D
      background #fff
      background-clip padding-box
      border 1px solid #ECEBED
      box-shadow 0 7px 64px rgba(0, 0, 0, 0.07)
      border-radius 6px
      box-sizing border-box

    &.form-control:focus
      color #495057
      background-color #fff
      border-color #80bdff
      outline 0
      box-shadow 0 0 0 0.2rem rgba(0,123,255,.25)

  button
    &.btn
      background #6979F8
      border-radius 6px
      color #fff
      padding .375rem .75rem
      border 1px solid transparent
      cursor pointer

    &.btn:focus
      outline 0
      box-shadow: 0 0 0 0.2rem rgba(38,143,255,.5)
