button
  &.btn
    background #6979F8
    border-radius 6px
    color #fff
    border 1px solid transparent
    cursor pointer

  &.btn:focus
    outline 0

  &.btn-large
    font-size 17px
    width 343px
    height 48px

  &.btn-small
    font-size 13px
    width 180px
    height 40px
