.user-edit-modal__header
  .user-edit-modal__name {{name}}
  button.user-edit-modal__close([mat-dialog-close]="null")
    i.material-icons close
.user-edit-modal__content
  form
    app-input(name="fname", [(ngModel)]="user.fname", placeholder="Фамилия", required)
    app-input(name="name", [(ngModel)]="user.name", placeholder="Имя", required)
    app-input(name="mname", [(ngModel)]="user.mname", placeholder="Отчество", required)
    app-dropdown(name="status", [(ngModel)]="user.status", placeholder="Состояние", [values]="statusList", required)
  .user-edit-modal__actions
    button.btn.btn-small([mat-dialog-close]="user") Сохранить
