.user-edit-modal__header
  display flex
  align-items center
  border-bottom 1px solid #ECEBED
  padding 20px 34px 20px 34px

  .user-edit-modal__name
    font-size 34px
    font-weight 500
    width 100%

  .user-edit-modal__close
    display flex
    border 0
    outline none

    i
      font-size 30px
      color #6979F8
      font-weight 700
      cursor pointer

.user-edit-modal__content

  form
    padding 34px

    app-input
      margin-right 28px

    app-dropdown
      margin-top 28px

  .user-edit-modal__actions
    display flex
    flex-direction row-reverse
    padding 22px
