.user-edit-modal__header
  display flex
  align-items center

  .user-edit-modal__name
    font-size 34px
    font-weight 500
    width 100%

  i
    color #6979F8
    font-weight 700
    cursor pointer
