.user
  display flex
  align-items center
  height 80px
  box-shadow 0 7px 20px rgba(0, 0, 0, 0.07)
  background #FFFFFF
  border-radius 4px
  margin 18px 48px 18px 48px

  .user__avatar
    width 48px
    height 48px
    border-radius 64px
    padding 16px

  .user__name
    width 150px
    white-space nowrap
    overflow hidden
    text-overflow ellipsis

  .user__status
    margin-left 54px
    margin-right 46px

  span
    font-size 15px
    color #000000
    white-space nowrap
